__pycache__/
*.pyc
.cache/
.config/
.local/
.npm/
.npm-global/
evolution_sim/
.bash_history
.claude*
Desktop/
.idlerc/
.gtkrc-2.0
.motd_shown
.sudo_as_admin_successful
.profile
.bashrc
.bash_logout
.npmrc
.gitconfig
